.service{
    background-color: rgba(181, 193, 195, 0.712);

     margin: 10px;
     border-radius: 10px; 
     padding: 20px;
     overflow: hidden;
     color: rgb(233, 233, 233);

}

.service img{
    width: 50%;
    border-radius: 99em;

}

.service button{
padding: 10px;
margin: 10px;
width: 200px;
border-radius: 10px;
}
